a {
    text-decoration: none;
}
.cards_principais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px; /* Ajuste conforme necessário */
}

.cards_principais .card {
    width: 250px;
    height: 250px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.cards_principais .card .parte_cima {
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0;

}
.cards_principais .card .parte_cima img {
    width: 100px;
    height: 100px;
}

.cards_principais .card .parte_baixo {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 0 0 10px 10px;

}


