@import "variables.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;

  font-family: var(--font-family-text);

  overflow-x: hidden;

  color: var(--text-color-dark);
  background-color: var(--background-color-whitesmoke);
}

a {
  text-decoration: none;
}

br {  
  height: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.brand-name {
  font-family: var(--font-family-logo);
}

.logo {
  display: flex;
  align-items: center;

  margin-left: 1.5rem;
}

.logo img {
  width: 75px;
  height: 75px;

  margin-right: 0.7rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 7rem;

  margin-bottom: 3rem;

  color: var(--text-color-light);
  background-color: var(--background-color-logo-blue);
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  list-style: none;

  width: clamp(30vw, 35vw, 40vw);
  margin-right: 1.5rem;
}

.nav-bar li a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6.5rem;
  height: 3.5rem;

  border-radius: 10px;

  font-size: 1.2rem;

  color: var(--text-color-dark);
  background-color: var(--background-color-white);
}

.nav-bar li a:visited {
  color: var(--text-color-dark);
}

.nav-bar li a:focus {
  color: var(--text-color-dark);
}
.nav-bar li a:active {
  color: var(--text-color-dark);
}

.nav-bar li {
  transition: 120ms ease-in-out;
}

.nav-bar li:hover {
  transform: translateY(-3px);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;

  width: 100vw;
  height: 7rem;

  margin-top: 3rem;
  padding-right: 2.5rem;

  font-family: var(--font-family-text2);

  background-color: var(--background-color-logo-blue);
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;

  width: 14rem;

  list-style: none;
}

.footer ul li,
.footer span {
  color: var(--text-color);
}

.footer ul li:hover,
.footer span:hover {
  text-decoration: underline;

  color: var(--text-color-light);
}
