@import "variables.css";

/* Login content */
main .logo {
  justify-content: center;

  width: 100%;

  margin: 0;
  padding: 1rem;

  font-size: 2rem;

  border-radius: 10px 10px 0 0;

  color: var(--text-color-light);
  background-color: var(--background-color-logo-blue);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;

  width: 30%;
  height: 42rem;

  background-color: var(--background-color-white);
}

input[type="text"],
input[type="password"] {
  width: 80%;

  padding: 1rem;
  margin-bottom: 8px;

  font-size: 1.3rem;

  outline: none;
  border: 2.5px solid var(--border-color-light);
  border-radius: 4px;

  background-color: var(--background-color-white-damp);

  transition: 130ms ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: var(--background-color-logo-blue-lighter);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6.5rem;
  height: 3.5rem;

  border: none;
  border-radius: 10px;

  font-size: 1.3rem;

  color: var(--text-color-light);
  background-color: var(--background-color-logo-blue-light);

  cursor: pointer;

  transition: 120ms ease-in-out;
}

button:hover {
  transform: translateY(-3px);
  background-color: var(--background-color-logo-blue-lighter);
}

.wrapper {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper:last-of-type {
  padding-top: 1.5rem;

  border-radius: 0 0 10px 10px;

  background-color: var(--background-color-logo-blue);
}

.wrapper a {
  margin-bottom: 1.2rem;

  color: var(--text-color);
}

.wrapper a:hover {
  text-decoration: underline;
  color: var(--text-color-light);
}

.wrapper a:last-of-type {
  margin-bottom: 2rem;
}
