<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Escolher para Atualizar</title>
        <link rel='stylesheet' href='/static/style.css'>
    </head>
    <body>
        <h1>Atualização - Escolha um País para Atualizar</h1>
        <hr>
        <div>
            <table class='listagem'>
                <tr>
                    <th>Identificador</th>
                    <th>Nome</th>
                    <th>Atualizar?</th>
                </tr>
                {% for pais in lista %}
                    <tr>
                        <td>{{ pais.identificador_pais }}</td>
                        <td>{{ pais.nome_pais }}</td>
                        <td>
                            <button onclick='atualizar({{ pais.identificador_pais }})'>Atualizar</button>
                            <button onclick='deletar({{ pais.identificador_pais }}, "{{ pais.nome_pais }}")'>Deletar</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        [ <a href='/'> Retornar ao Menu</a> ]
    </body>
</html>
<script>
    function atualizar(identificador) {
        window.open('/formulario_atualizacao_pais?identificador=' + identificador, '_SELF');
    }

    function deletar(identificador, nome) {
        if (confirm('Deseja Realmente Deletar ' + nome + '?')) {
            window.open('/delecao_pais?identificador=' + identificador, '_SELF');
        }
    }
</script>