<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Menu de Cadastro dos Países e Estados</title>
        <link rel='stylesheet' href='/static/style.css'>
    </head>
    <body>
        <section>
            <h1>Gestão de Países</h1>
            <hr>
            <ul class='menu'>
                <li>
                    <a href='/formulario_insercao_pais'>Inclusão de País</a>
                </li>
                <li>
                    <a href='/consulta_pais'>Consulta de País</a>
                </li>
                <li>
                    <a href='/escolha_atualizacao_pais'>Atualização de País</a>
                </li>
            </ul>
        </section>
        <section>
            <h1>Gestão de Estados</h1>
            <hr>
            <ul class='menu'>
                <li>
                    <a href='/formulario_insercao_estado'>Inclusão de Estado</a>
                </li>
                <li>
                    <a href='/consulta_estado'>Consulta de Estado</a>
                </li>
                <li>
                    <a href='/escolha_atualizacao_estado'>Atualização de Estado</a>
                </li>
            </ul>
        </section>
        <section>
            <h1>Relatórios</h1>
            <hr>
            <ul class='menu'>
                <li>
                    <a href='/relatorio_grafico_pizza'>Relatório em Gráfico de Pizza</a>
                </li>
                <li>
                    <a href='/relatorio_grafico_organograma'>Relatório em Gráfico de Organograma</a>
                </li>
            </ul>
        </section>
    </body>
</html>