a{
    text-decoration: none; /* Remove o underline do link */
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
    color: white;
    padding: 10px;  
}

nav img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

nav .links{
    color: white;
    margin: 0 10px;
}