{% extends 'layout.html' %}

{% block conteudo %}
  <form action='/alterar_senha' method='post'>
    <table>
      <tr>
        <td>Digite Sua Senha Atual:</td>
        <td>
          <input type='password' name='senha_atual' id='senha_atual'>
        </td>
      </tr>
      <tr>
        <td>Digite Sua Nova Senha:</td>
        <td>
          <input type='password' name='senha_nova' id='senha_nova'>
        </td>
      </tr>
      <tr>
        <td>Confirme Sua Nova Senha:</td>
        <td>
          <input type='password' name='confirmacao_senha_nova' id='confirmacao_senha_nova'>
        </td>
      </tr>
      <tr>
        <td colspan='3'>
          <button type='submit'>Alterar a Senha</button>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}

{% block msg %}
  {{ msg }}
{% endblock %}