<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../static/css/header-footer.css'>
    <link rel="stylesheet" href="../static/css/boletim.css">
    <title>Boletim</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="/static/imagens/PegaMalandroLogo.jpg" alt="icone" />
            <h1 class="brand-name">Pega Malandro</h1>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a class="nav-link" href="/">Voltar</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="boletim_box">
            <h2>Dados do Fato</h2>
            <div>
                <div>
                    <p>Data Inicial:</p>
                    <p>Data Final:</p>
                    
                    
                </div>
                <div>
                    <p>Hora Inicial:</p>
                    <p>Hora Final:</p>
                </div>
                <div>
                    <div>
                        <p>UF:</p>
                        <p>Cidade:</p>
                        <p>Quadra:</p>
                        <p>Setor Área:</p>
                    </div>
                    <p>Complemento:</p>
                </div>
            </div>

            <h2>Envolvidos</h2>
            <div>
                <p></p>
                <p></p>
            </div>
            
            <h2>Descrição</h2>
            <div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum est nam vero, suscipit fugiat saepe blanditiis labore ipsum, earum voluptatem tempore nesciunt error, distinctio nemo inventore ab harum dolores natus!</p>
            </div>

        </section>
    </main>
    <footer class="footer">
        <ul>
            <li><a href="">Privacy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <span>Copyright 2024</span>
    </footer>
</body>
</html>