<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Consulta</title>
        <link rel="shortcut icon" type="imagex/png" href="/static/imagens/PegaMalandroLogo.jpg">
        <link rel='stylesheet' href='../static/style.css'>
    </head>
    <body>
        <h1>Consulta - Mostra todos os Usuários</h1>
        <hr>
        <div>
            <table class='listagem'>
                <tr>
                    <th>Identificador</th>
                    <th>Nome</th>
                </tr>
                {% for usuario in lista %}
                    <tr>
                        <td>{{ usuario['identificador_usuario'] }}</td>
                        <td>{{ usuario['nome_usuario'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        [ <a href='/'> Retornar ao Menu</a> ]
    </body>
</html>