<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <title>Consulta</title>
   <link rel="stylesheet" href="/static/crud.css">
</head>
<body>
<h1>Consulta - Mostra todos os clientes</h1>
<hr>
<div>
   <table class="listagem">
       <tr>
           <th>Identificador</th>
           <th>Nome</th>
           <th>Data de Nascimento</th>
       </tr>
       {% for cliente in lista %}
       <tr>
           <td>{{ cliente['idt_cliente'] }}</td>
           <td>{{ cliente['nme_cliente'] }}</td>
           <td>
               {{ cliente['dta_nasc_cliente'].day }} /
               {{ cliente['dta_nasc_cliente'].month }} /
               {{ cliente['dta_nasc_cliente'].year }}
           </td>
       </tr>
       {% endfor %}
   </table>
</div>
<br>
[ <a href="/"> Retornar ao Menu</a> ]
</body>
</html>
