<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Consulta</title>
        <link rel='stylesheet' href='../static/style.css'>
    </head>
    <body>
        <h1>Consulta - Mostra todos os Boletins de Ocorrência</h1>
        <hr>
        <div>
            <table class='listagem'>
                <tr>
                    <th>Identificador</th>
                    <th>Nome</th>
                    <th>Código</th>
                </tr>
                {% for boletim_ocorrencia in lista %}
                    <tr>
                        <td>{{ boletim_ocorrencia['identificador_boletim_ocorrencia'] }}</td>
                        <td>{{ boletim_ocorrencia['nome_boletim_ocorrencia'] }}</td>
                        <td>{{ boletim_ocorrencia['codigo_usuario'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        [ <a href='/'> Retornar ao Menu</a> ]
    </body>
</html>