<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Escolher para Atualizar</title>
        <link rel='stylesheet' href='/static/style.css'>
    </head>
    <body>
        <h1>Atualização - Escolha um Usuário para Atualizar</h1>
        <hr>
        <div>
            <table class='listagem'>
                <tr>
                    <th>Identificador</th>
                    <th>Nome</th>
                    <th>Atualizar?</th>
                </tr>
                {% for usuario in lista %}
                    <tr>
                        <td>{{ usuario.identificador_usuario }}</td>
                        <td>{{ usuario.nome_usuario }}</td>
                        <td>
                            <button onclick='atualizar({{ usuario.identificador_usuario }})'>Atualizar</button>
                            <button onclick='deletar({{ usuario.identificador_usuario }}, "{{ usuario.nome_usuario }}")'>Deletar</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <br>
        [ <a href='/'> Retornar ao Menu</a> ]
    </body>
</html>
<script>
    function atualizar(identificador) {
        window.open('/formulario_atualizacao_usuario?identificador=' + identificador, '_SELF');
    }

    function deletar(identificador, nome) {
        if (confirm('Deseja Realmente Deletar ' + nome + '?')) {
            window.open('/delecao_usuario?identificador=' + identificador, '_SELF');
        }
    }
</script>