<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Formulário de Atualização</title>
        <link rel="shortcut icon" type="imagex/png" href="/static/imagens/PegaMalandroLogo.jpg">
        <link rel='stylesheet' href='../static/style.css'>
    </head>
    <body>
        <h1>Atualização - Formulário de Atualização de Dados</h1>
        <hr>
        <div>
            <form action='/atualizacao_boletim_ocorrencia' method='post'>
                <table>
                    <tr>
                        <td>Identificador:</td>
                        <td>
                            <label>
                                <input type='text' size='5' maxlength='5' name='identificador_boletim_ocorrencia' value='{{ identificador_boletim_ocorrencia }}' readonly>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Nome:</td>
                        <td>
                            <label>
                                <input type='text' size='46' maxlength='46' name='nome_boletim_ocorrencia' value='{{ nome_boletim_ocorrencia }}' required>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>Código:</td>
                        <td>
                            <label>
                                <input type='number' size='5' maxlength='5' name='codigo_usuario' value='{{ codigo_usuario }}' required>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='3'>
                            <input type='submit' value='Atualizar Boletim de Ocorrência'>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        [ <a href='/'> Retornar ao Menu</a> ]
    </body>
</html>