<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Formulário de Inserção</title>
        <link rel='stylesheet' href='../static/style.css'>
    </head>
    <body>
        <h1>Inserção - Formulário de Entrada de Dados</h1>
        <hr>
        <div>
            <form action='/insercao_usuario' method='post'>
                <table>
                    <tr>
                        <td>Nome:</td>
                        <td>
                            <label>
                                <input type='text' size='46' maxlength='46' name='nome_usuario' required>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='1'>
                            <input type='submit' value='Inserir Usuário'>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        [ <a href='/'> Retornar ao Menu</a> ]
    </body>
</html>