<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <title>Imprimir Nome</title>
   <style>
    input[type=submit] {
        background-color: cornflowerblue;
        font-size: 16px;
        font-weight: bold;
        padding: 15px;
        color: white;
        border-radius: 15px;
    }
</style>
</head>
<body>
   <form action="/nomes" method="post">
       <p>
           Qual o nome?
           <input type="text" name="nome"/>
       </p>
       <p>
           Quantas vezes imprimir?
           <input type="number" name="vezes"/>
       </p>
       <p>
           <input type="submit"  value="Imprimir"/>
       </p>
   </form>
</body>
</html>