<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pega Malandro</title>
    <link rel="stylesheet" href="../static/css/menupolicial.css">
</head>
<body>

<div class="container">
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="/static/imagens/PegaMalandroLogo.jpg" alt="icone" class="logo"/>
            <h1>Pega Malandro</h>
        </div>
        <ul>
            <li>Registrar uma ocorrência</li>
            <li>Criação de um novo Perfil</li>
            <li>Documentos Corporativos</li>
            <li>Casos</li>
            <li>Consultar Ocorrências</li>
            <li>Alterar uma ocorrência</li>
            <li>SMP (Sistema de Mensagens dos Peppa)</li>
            <li>Turnos</li>
            <li>Conta</li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <h2>Bom dia, Boa tarde, Boa noite (Depende do Horario do dia do acesso), Nome do Policial.</h2>
        </div>
        <div class="content">
            <div class="section">
                <h3>Horario do Plantão</h3>
                <table class="table">
                    <tr>
                        <th>Nome Policial</th>
                        <th>Inicio</th>
                        <th>Final</th>
                    </tr>
                    <tr>
                        <td>Nome Policial</td>
                        <td>23/05/24 15:00</td>
                        <td>23/05/2024 23:00</td>
                    </tr>
                </table>
            </div>
            <div class="section">
                <h3>Companheiros</h3>
                <table class="table">
                    <tr>
                        <th>Fulano</th>
                        <th>Ciclano</th>
                        <th>Beltrano</th>
                    </tr>
                </table>
            </div>
            <div class="section">
                <h3>Local</h3>
                <table class="table">
                    <tr>
                        <th>Bairro</th>
                        <th>Área</th>
                        <th>Referencia</th>
                    </tr>
                </table>
            </div>
            <div class="section">
                <h3>Equipe Alfa</h3>
                <table class="table">
                    <tr>
                        <th>Cafundinho</th>
                        <th>Cafundó do Judas</th>
                        <th>Perto do Bar Cafundio</th>
                    </tr>
                </table>
            </div>
            <div class="section">
                <h3>Objetivo</h3>
                <table class="table">
                    <tr>
                        <th>Principal</th>
                        <th>Relatos</th>
                        <th>Cuidados</th>
                    </tr>
                </table>
            </div>
            <div class="section">
                <h3>Equipe Alfa</h3>
                <table class="table">
                    <tr>
                        <th>Patrulhamento</th>
                        <th>Grande movimentação de traficantes na área</th>
                        <th>Indivíduos armados</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="footer">
            Podemos fazer questões além de patrulhamentos, como cumprimento de mandato de prisão ou operação especial, acho que da pra criar um script aleatório para ir mudando todo dia, ia ficar legal
        </div>
    </div>
</div>

</body>
</html>
