<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Relatório em Gráfico de Pizza</title>
        <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
        <script type='text/javascript'>
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(renderizarGrafico);

            function renderizarGrafico() {
                var dados = google.visualization.arrayToDataTable([
                    ['Usuário', 'Quantidade de boletim_ocorrencias']
                    {% for dado in dados %}
                        , ['{{ dado.nome_usuario }}', {{ dado.quantidade_boletim_ocorrencias }}]
                    {% endfor %}
                ]);

                var opcoes = { title: 'Gráfico de Pizza dos Usuários e das Quantidades de boletim_ocorrencias' };

                var grafico = new google.visualization.PieChart(document.getElementById('grafico_pizza'));
                grafico.draw(dados, opcoes);
            }
        </script>
    </head>
    <body>
        <div id='grafico_pizza' style='width: 900px; height: 500px;'></div>
        <br>
        [ <a href='/'> Retornar ao Menu</a> ]
    </body>
</html>