<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Relatório em Gráfico de Organograma</title>
        <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
        <script type='text/javascript'>
            google.charts.load('current', { packages: ['orgchart'] });
            google.charts.setOnLoadCallback(renderizarGrafico);

            function renderizarGrafico() {
                var dados = new google.visualization.DataTable();
                dados.addColumn('string', 'Nome');
                dados.addColumn('string', 'Herda de');
                dados.addColumn('string', 'ToolTip');

                dados.addRows([
                    [{ v: 'planeta', f: 'Planeta Terra<div style="color: red; font-style: italic">Planeta</div>' }, '', 'O Planeta']

                    {% for dado in dados %}
                        , [{ v: 'usuario_{{ dado.identificador_usuario }}', f: '{{ dado.nome_usuario }}<div style="color: red; font-style: italic">Usuário</div>' }, 'planeta', 'O Usuário']

                        {% for boletim_ocorrencia in dado.boletim_ocorrencias %}
                            , [{ v:'boletim_ocorrencia_{{ boletim_ocorrencia.identificador_boletim_ocorrencia }}', f: '{{ boletim_ocorrencia.nome_boletim_ocorrencia }}<div style="color: red; font-style: italic">boletim_ocorrencia</div>' }, 'usuario_{{ dado.identificador_usuario }}', 'O boletim_ocorrencia']
                        {% endfor %}
                    {% endfor %}
                ]);

                var opcoes = { allowHtml: true };

                var grafico = new google.visualization.OrgChart(document.getElementById('grafico_organograma'));
                grafico.draw(dados, opcoes);
            }
        </script>
    </head>
    <body>
        <h1>Relatório em Gráfico de Organograma</h1>
        <div id='grafico_organograma'></div>
        [ <a href='/'> Retornar ao Menu</a> ]
    </body>
</html>