<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Resultado da Atualização</title>
        <link rel="shortcut icon" type="imagex/png" href="/static/imagens/PegaMalandroLogo.jpg">
        <link rel='stylesheet' href='../static/style.css'>
    </head>
    <body>
        <h1>Atualização - Resultado da Atualização</h1>
        <hr>
        <div>
            <h2>Boletim de Ocorrência Atualizado com Sucesso!</h2>
            <h2>Número de Linhas Atualizadas = {{ numero_linhas }}</h2>
        </div>
        <br>
        [ <a href='/'> Retornar ao Menu</a> ]
    </body>
</html>