<!DOCTYPE html>
<html lang='pt-BR'>
    <head>
        <meta charset='UTF-8'>
        <title>Resultado da Inserção</title>
        <link rel='stylesheet' href='/static/style.css'>
    </head>
    <body>
        <h1>Inserção - Resultado da Inserção</h1>
        <hr>
        <div>
            <h2>Boletim de Ocorrência Inserido com Sucesso!</h2>
            <h2>identificador_boletim_ocorrencia = {{ identificador }}</h2>
        </div>
        <br>
        [ <a href='/'> Retornar ao Menu</a> ]
    </body>
</html>